*
!README.md
!ariutta.terminal
!.profile.public
!.bashrc.public
!.jshintrc
!.jscsrc
!.gitignore
!.gitignore_global
!.gitconfig_sample
!dev_helper_scripts/
!lynx.lss
!nix-pkgs-custom/
!common.nix
!dev-env-js.nix
!dev-env-pvjs.nix
