*
!README.md
!.profile.public
!.bashrc.public
!.jshintrc
!.jscsrc
!.gitignore
!.gitignore_global
!.gitconfig_sample
!dev_helper_scripts/
!common.nix
!local.nix
!lynx.lss
custom/*
!custom/all-custom.nix
!custom/vim/.vimrc
!custom/vim/default.nix
!custom/perl-packages.nix
!custom/tosheets/default.nix
